@import './variables.css';

.dashboard {
    width: 100%;
    background-color: var(--bgy);
}

.dashboard main {
    width: 80%;
    margin: auto;
}

.dashboard main h2 {
    font-weight: 400;
    margin-bottom: 3%;
    color: var(--bgb);
}

.dashboard  main  a {
    text-decoration: none;
    color: var(--bgb);
}

.dashboard main > section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    margin-top: 5%;
}

.progress {
    width: 100%;
    height: 40px;
    background-color: #44444444;
    border-radius: 5px;
    margin-bottom: 5%;
}

.progress-bar {
    height: 100%;
    background-color: #07c;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.definition {
    font-size: 0.9em;
    color: #444444;
    margin: 10px 0;
}

.graphics {
    width: 100%;
}
.graphics > div {
    width: 100%;
    
    margin: 20px 0;
    padding: 10px;
    background-color: rgba(25, 145, 181, 0.212);
    border-radius: 20px;
}
.graphics > div > p {
    margin-left: 2%;
}
.graphics > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.svg-pi-wrapper {
    position: relative;
  }
  
  .svg-pi {
    transform: rotate(-90deg); /* Fix the orientation */
  }
  
  /* Animated spinner version */
  .svg-pi-indicator--spinner {
    animation: spinner .75s linear infinite;
    transform-origin: center;
  }
  
  .svg-pi-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .svg-pi-label__loading {
    opacity: .5;
    font-size: 0.75em;
  }
  
  .svg-pi-label__progress {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .svg-pi-label__loading,
  .svg-pi-label__progress {
    display: block;
  }
  
  /* Spinner animation */
  @keyframes spinner {
    0% {
      transform: rotate(0)
    }
    100% {
      transform: rotate(360deg)
    }
  }