@import './variables.css';

.extraction {
    width: 100%;
    background-color: var(--bgy);
}

.extraction main {
    width: 80%;
    margin: auto;
}

.extraction main h2 {
    font-weight: 400;
    margin-bottom: 3%;
    color: var(--bgb);
}

.extraction main a {
    text-decoration: none;
    color: var(--bgb);
}