@import './variables.css';

.header {
    width: 95%;
    padding: 1%;
    background-color: var(--bgb) !important;
    border-radius: 5px;
    color: rgb(240, 240, 240) ;
    text-align: center;
    margin: 2% auto;
    position: sticky;
    top: 1%;
    z-index: 2;
}

